extends index
block content
	.row
		.col-sm-6.cutomLogIn.well
			form#login-form.container-fluid(action='/home',method='post')
				h1 Log In 
				p.subheading Please Login To Your Account
				input.form-control.main#userId(type="text" name="username" placeholder="Enter email *")
				p#invalidUser
				input.form-control.main#password(type="password" name="password" placeholder="Password *")
				.divider
					label Remember Me
					input.rememder(type="checkbox", checked='checked' name="rememder")
				button.btn.btn-primary#signIn(type="submit") Sign in
				.divider
				a#reqPassword(href='#' data-toggle="modal" data-target="#req-password") Forgot Password?
				a#createAccount(href='/register') Create Account
				block scripts