html
  head
    title = title
    link(rel='stylesheet', href='/style/bootstrap/css/bootstrap.min.css')
  body
  script(src='/style/jquery.js')
  script(src='/style/bootstrap/js/bootstrap.min.js')
  
    h1 = message
    block scripts