html
  head
    title #{title}
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css.map')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.css.map')
    link(rel='stylesheet', href='/css/main.css')
  body
  block content
    

  script(src='/js/main.js')
  script(src='/lib/jquery.js')
  script(src='/lib/bootstrap/js/bootstrap.js')
  block scripts