html
  head
    title #{title}
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css.map')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.css.map')
  body
    h1  #{message}
  script(src='/js/main.js')
  script(src='/lib/jquery.js')
  script(src='/lib/bootstrap/js/bootstrap.js')